*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak
*.7z
*.zip
*.rar
*.html
*.js
*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.workspace
*.scvd
*.tmp
**/JLinkLog.txt
**/EventRecorderStub.scvd
**/_viminfo
**/_vimtags
IDE/armcc/_build/
IDE/armcc/RTE/
IDE/ARMCC/DebugConfig/
IDE/ARMCC/Objects/
IDE/armgcc/_build/
IDE/EWARM/Debug/
IDE/EWARM/Release/
IDE/EWARM/settings/
IDE/SES/Output/
settings/